# Gradle
.gradle/
**/build/
!src/**/build/

# Android Studio / IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
local.properties

# Android
captures/
.externalNativeBuild/
.cxx/

# iOS
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

# Kotlin
.kotlin/

# Web/WASM
node_modules/
*.js.map
dist/

# System
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
